<div id="logo-wrap">
<div id="logo">
	<h1><a href="#">Umm Haroon's </a></h1>
	<h2> Home of the Bean Pie Remix!</h2>
</div>
</div>

<!-- start header -->
<div id="header">
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="#">Homepage</a></li>
			<li><a href="#">Blogs</a></li>
			<li><a href="#">Photos</a></li>
			<li><a href="#">About</a></li>
			<li class="last"><a href="#">Contact</a></li>
		</ul>
	</div>
</div>
<!-- end header -->
<!-- start page -->
<div id="wrapper">
<div id="wrapper-btm">
<div id="page">
	<!-- start content -->
	<div id="content">
		<!--<div id="banner">&nbsp;</div> -->

<div class="row">
  <div class="col-xs-6 col-md-4">
    <a href="#" class="thumbnail">
      <img src="holder.js/100%x180" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-4">
    <a href="#" class="thumbnail">
      <img src="holder.js/100%x180" alt="...">
    </a>
  </div>
 
  <div class="col-xs-6 col-md-4">
    <a href="#" class="thumbnail">
      <img src="holder.js/100%x180" alt="...">
    </a>
  </div>
  
</div>
<div class="row">
  <div class="col-xs-6 col-md-4">
    <a href="#" class="thumbnail">
      <img src="holder.js/100%x180" alt="...">
    </a>
  </div>
 <div class="col-xs-6 col-md-4">
    <a href="#" class="thumbnail">
      <img src="holder.js/100%x180" alt="...">
    </a>
  </div>
<div class="col-xs-6 col-md-4">
    <a href="#" class="thumbnail">
      <img src="holder.js/100%x180" alt="...">
    </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-4">
    <a href="#" class="thumbnail">
      <img src="holder.js/100%x180" alt="...">
    </a>
  </div>

  <div class="col-xs-6 col-md-4">
    <a href="#" class="thumbnail">
      <img src="holder.js/100%x180" alt="...">
    </a>
  </div>
 
  <div class="col-xs-6 col-md-4">
    <a href="#" class="thumbnail">
      <img src="holder.js/100%x180" alt="...">
    </a>
  </div>
  
</div>
		<div class="post">
			<h1 class="title">Welcome to our website </h1>
			<div class="entry">
				<p><img src="http://www.imanisoriginal.com/uploads/1/3/2/3/13239484/_6425955_orig.jpg?206" alt="" width="140" height="125" class="left" />Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe voluptas ducimus adipisci recusandae deleniti animi alias fuga repellat odit aperiam quod magnam sunt. Autem illo eaque impedit quasi natus reprehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni nisi fugiat enim modi molestiae quam ad voluptas aliquid adipisci ab earum repellendus veniam illo debitis necessitatibus dolorum hic laudantium voluptatem. <a href="http://www.pdphoto.org/">PDPhoto.org</a>. You're free to use this template for both commercial or personal use. I only ask that you link back to <a href="http://freecsstemplates.org/">my site</a> in some way. Enjoy :)</p>
			</div>
			<div class="meta">
				<p class="byline">Posted on July 10, 2014 by Haroon Arrasheed</p>
				<p class="links"><a href="#" class="more">Read full article</a> <b>|</b> <a href="#" class="comments">Comments (32)</a></p>
			</div>
		</div>
		<div class="post">
			<h2 class="title">Lorem Ipsum Dolor Volutpat</h2>
			<div class="entry">
				<p>Curabitur tellus. Phasellus tellus turpis, iaculis in, faucibus lobortis, posuere in, lorem. Donec a ante. Donec neque purus, adipiscing id, eleifend a, cursus vel, odio. Vivamus varius justo sit amet leo. Morbi sed libero. Vestibulum blandit augue at mi. Praesent fermentum lectus eget diam. Nam cursus, orci sit amet porttitor iaculis, ipsum massa aliquet nulla, non elementum mi elit a mauris. In hac habitasse platea.</p>
				<p>Vestibulum blandit augue at mi. Praesent fermentum lectus eget diam. Nam cursus, orci sit amet porttitor iaculis, ipsum massa aliquet nulla, non elementum mi elit a mauris. In hac habitasse platea.</p>
			</div>
			<div class="meta">
				<p class="byline">Posted on July 10, 2014 by Haroon Arrasheed</p>
				<p class="links"><a href="#" class="more">Read full article</a> <b>|</b> <a href="#" class="comments">Comments (32)</a></p>
			</div>
		</div>
	</div>
	<!-- end content -->
	<!-- start sidebar -->
	<div id="sidebar">
		<ul>
			<li id="search">
				<h2>Search</h2>
				<form method="get" action="">
					<fieldset>
					<input type="text" id="s" name="s" value="" />
					<input type="submit" id="x" value="Search" />
					</fieldset>
				</form>
			</li>
			<li>
              <h2>3 Layer / Sheet Cakes: Also available in CupCakes please inquire!</h2>
				<ul>
					<li><a href="#">Red Velvet</a></li>
					<li><a href="#">German Chocolate</a></li>
                    <li><a href="#">German Chocolate without Coconut</a></li>
					<li><a href="#">Triple Chocolate with Chocolate Cake</a></li>
					<li><a href="#">Triple Chocolate with Yellow Cake</a></li>
					<li><a href="#">Caramel</a></li>
					<li><a href="#">Coconut</a></li>
				</ul>
			</li>
			<li>
				<h2>Pound cakes</h2>
				<ul>
					<li><a href="#">7 Up Cake</a></li>
					<li><a href="#">Lemon 7 UP Cake</a></li>
					<li><a href="#">Kentucky Butter Cake</a></li>
					<li><a href="#">Cream Cheese Pound Cake</a></li>
					<li><a href="#">Apple Cinnamon </a></li>
					<li><a href="#">Mama's Pound Cake</a></li>
					<li><a href="#">Million Dollar Pound Cake</a></li>
				</ul>
			</li>
			<li>
				<h2>Pies, Cobblers and Cookies </h2>
				<ul>
					<li><a href="#">Bean Pie</a></li>
					<li><a href="#">Peach Cobbler</a></li>
					<li><a href="#">Apple Cobbler</a></li>
					<li><a href="#">Apple Walnut Caramel Pie</a></li>
					<li><a href="#">Lunch Room Butter Cookies</a></li>
					<li><a href="#">Peanut Butter Cookies (lunch room butter cookie size)</a></li>
					<li><a href="#">Chocolate Chip Cookies</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- end sidebar -->
	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->
</div>
</div>
<!-- start footer -->
<div id="footer">
	<div id="footer-wrap">
	<p id="legal"></a>.</p>
	</div>
</div>